<!DOCTYPE html>
{% extends 'siddh_app/base.html' %}

{% block body_block %}

    <div class="container">

        <table>
            <thead>
                <td>Batch</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Registration Number</td>
                <td>Gender</td>
                <td>Faculty</td>
                <td>Semester</td>
            </thead>
    
            
            {% for student in students %}
            <tr>
                <td>{{student.batch_year}}</td>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.registration_number}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.faculty}}</td>
                <td>{{student.semester}}</td>
            </tr>
            {% endfor %}
    
        </table>
    </div>

    

{% endblock %}