<!DOCTYPE html>

{% extends 'siddh_app/base.html' %}

{% block body_block %}

<div class="container">

    <div class="jumbotron p-4">
        
        <hr class="my-16" style="border-top: 4px solid;">

        <h1>Student Details:</h1>

        <hr class="my-4" style="border-top: 4px solid;">
    </div>

    <div class="jumbotron">
        <form action="{% url 'siddh_app:create_student' %}" method="post">
        
            {% csrf_token %}
    
            {{form.as_p}}
    
            <input type="submit" class="btn btn-primary" value="Submit">
    
        </form>
    </div>

</div>

{% endblock %}